# Gradle
.gradle/
build/
out/

# Java
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
.idea/
*.imap
*.ipr
*.iws
*.iml

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# MacOS
.DS_Store

# Fabric / Minecraft
run/
run_client/
run_server/
Replay_Mod_Recordings/
screenshots/
logs/
crash-reports/
/config/
!/config/default_config.json
